name: Chatboq total CI/CD

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build backend Docker image
        run: |
          docker build -t chatboq-back:latest .
          docker save chatboq-back:latest -o chatboq-back.tar
          chmod 664 chatboq-back.tar

      - name: Build celery_worker Docker image
        run: |
          docker build -t chatboq-celery-worker:latest .
          docker save chatboq-celery-worker:latest -o chatboq-celery-worker.tar
          chmod 664 chatboq-celery-worker.tar

      - name: Build celery_beat Docker image
        run: |
          docker build -t chatboq-celery-beat:latest .
          docker save chatboq-celery-beat:latest -o chatboq-celery-beat.tar
          chmod 664 chatboq-celery-beat.tar

      - name: List files for debug
        run: ls -la

      - name: Copy all images to the server
        uses: appleboy/scp-action@v0.1.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: chatboq-back.tar,chatboq-celery-worker.tar,chatboq-celery-beat.tar
          target: /var/www/chatboq_portal/chatboq-service

      - name: Deploy with docker-compose
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/chatboq_portal/chatboq-service
            docker load -i chatboq-back.tar
            docker load -i chatboq-celery-worker.tar
            docker load -i chatboq-celery-beat.tar
            docker-compose down
            docker-compose up -d
